{%extends 'base.html'%}
{%load static%}

{%block title%} {{title}} {%endblock title%}

{%block head%}
  <style>
    @media (max-width: 576px) {
      .list-course{
        flex-direction: column;
      }
      .mentor-card{
        flex-direction: column;
      }
    }
  </style>
{%endblock head%}

{%block content%}
        
    <header class="container text-center" style="padding-top: 100px;">
        <h1>Class Writing</h1>
        <h3> Pelajari cara menulis esai, laporan, dan teks formal sesuai dengan standar akademik.</h3>
        <h2>Rp.200.000 - Rp.500.000</h2>
    </header>

    <section class="container py-5 rounded-3 shadow my-5 " style="width: 80%;">
      <h2 class="text-center">Apa saja sih yang di pelajari ?</h2>
      <div class=" d-flex justify-content-around list-course ">
          <ul class="fs-5 pt-5">
              <li>Speaking, listening, sama pronunciation</li>
              <li>Bedah pronunciation dari suatu conversation</li>
              <li>Expand vocabularies from academic reading, and story</li>
              <li>Improving grammar for speaking</li>
              <li>Speaking, listening, sama pronunciation</li>
              <li>Bedah pronunciation dari suatu conversation</li>
          </ul>
          <img src="{%static 'images/L1.png'%}" alt="" style="width: 300px;">
      </div>
  </section>

    <section class="container p-5 rounded-3 shadow my-5" style="width: 80%;">
        <h2>Sistem pembelajaran</h2>
        <p>Kelas Speaking & Pronunciation Online – Para peserta akan belajar Praktek bicara Bahasa Inggris beserta pronunciation (pelafalan) -nya secara daring (online).Sistem belajarnya sebagai berikut :</p>
        <div>
            <ul>
                <li>Peserta akan dimasukkan ke dalam grup Whatsapp kelas. Dalam grup tersebut terdapat 15 peserta, 1 tutor dan 1 admin kelas.</li>
                <li>Materi-materi penting akan di-share di grup tersebut setiap hari oleh tutor kelas sebelum tatap muka / praktek.</li>
                <li>Proses tatap muka dengan tutor menggunakan aplikasi Zoom. Sehingga, masing-masing peserta wajib menginstall aplikasi Zoom.</li>
                <li>Proses tatap muka berlangsung selama 60 menit per hari pada jam-jam yang peserta pilih saat mengisi form pendaftaran dan form konfirmasi pembayaran.</li>
            </ul>
        </div>
    </section>

    <section>
        <h3 class="container" style="width: 80%;">Course content</h3>
        <div class="container mb-5 mt-3 border shadow" style="width: 80%;">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Sesi 1: Basic Essay Structure (Introduction, Body, Conclusion)
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Memahami struktur dasar esai: bagaimana membuat pembukaan, isi, dan kesimpulan yang baik.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Sesi 2: Writing Paragraphs with Strong Main Ideas
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Membuat paragraf dengan ide utama yang kuat dan mendukung argumen dengan bukti.
                         </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Sesi 3: Using Correct Grammar and Vocabulary
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Memperbaiki tata bahasa dan memperkaya kosakata untuk menulis secara efektif.
                         </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                          Sesi 4: Practice Writing Argumentative and Descriptive Essays
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Latihan menulis esai argumentatif dan deskriptif yang terstruktur dan menarik.
                         </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                          Sesi 5: Evaluation and Feedback
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          Evaluasi hasil tulisan dan umpan balik untuk meningkatkan kualitas tulisan Anda.
                         </div>
                    </div>
                </div>
          </div>
        </div>
    </section>

    <section>
        <h2 class="container text-center pb-4" style="width: 80%;">Profile Mentor</h2>

        <div class="container border shadow d-flex mentor-card" style="width: 80%;">
            <img class="p-4" src="{%static 'images/bili.jpg'%}" alt="bili" style="width: 300px; border-radius: 30px;">
            <div class="card-body mx-4 pt-5">
                <h5 class="card-title">Alwan Rofiqi, S.M</h5>
                <p class="card-subtitle mb-2 text-muted">Mentor reading</p>
                <div class="mentor-info mb-3">
                    <div><i class="bi bi-mortarboard"></i> Universitas</div>
                    <div><i class="bi bi-linkedin"></i> Username Linkedin</div>
                    <div><i class="bi bi-people"></i> 10 siswa aktif</div>
                </div>
                <p class="card-text">Guru Bahasa Inggris Bersertifikat dengan Pengalaman SDM untuk mempersiapkan Wawancara Kerja atau Bahasa Inggris<br><a href="#">Baca Selengkapnya...</a></p>
                <div class="mentor-schedule text-end mb-3">
                    Jadwal Mentor<br>Senin & Rabu
                </div>
            </div>
        </div>

    </section>

    <section class="row m-5">
        <h2 class="text-center pb-5">Testimonial</h2>
        <!-- Card 1 -->
        <div class="col-md-3 pt-3 ">
            <div class="testimonial-card px-3">
              <div class="card  shadow-sm p-5">
              <i class="bi bi-quote fs-1 text-dark mb-3"></i>
              <h5>Super cool!</h5>
              <p>Lorem ipsum praesent ac massa at ligula reet est iaculis. Vivamus est mist aliquet elit ac nisl.</p>
              <div class="stars mb-3 text-warning">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="d-flex gap-3">
                <img src="{%static 'images/mentor1.jpg'%}" alt="Matt Zhang" class="object-fit-cover rounded-circle mt-1" width="70px" height="70px" alt="Nichole">
                <div>
                  <p>Matt Zhang</p>
                  <small>CEO at Borcelle</small>
                </div>
              </div>
            </div>
          </div>
          </div>
   
   
          <!-- Card 2 -->
          <div class="col-md-3 pt-3 ">
            <div class="testimonial-card px-3">
              <div class="card shadow-sm  p-5">
              <i class="bi bi-quote fs-1 text-dark mb-3"></i>
              <h5>Super cool!</h5>
              <p>Lorem ipsum praesent ac massa at ligula reet est iaculis. Vivamus est mist aliquet elit ac nisl.</p>
              <div class="stars mb-3 text-warning"">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="d-flex gap-3">
                <img src="img/mentor1.jpg" alt="Matt Zhang" class="object-fit-cover rounded-circle mt-1" width="70px" height="70px" alt="Nichole">
                <div>
                  <p>Matt Zhang</p>
                  <small>CEO at Borcelle</small>
                </div>
              </div>
            </div>
          </div>
          </div>

          <!-- Card 1 -->
        <div class="col-md-3 pt-3">
            <div class="testimonial-card px-3">
              <div class="card  shadow-sm p-5">
              <i class="bi bi-quote fs-1 text-dark mb-3"></i>
              <h5>Super cool!</h5>
              <p>Lorem ipsum praesent ac massa at ligula reet est iaculis. Vivamus est mist aliquet elit ac nisl.</p>
              <div class="stars mb-3 text-warning">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="d-flex gap-3">
                <img src="img/mentor1.jpg" alt="Matt Zhang" class="object-fit-cover rounded-circle mt-1" width="70px" height="70px" alt="Nichole">
                <div>
                  <p>Matt Zhang</p>
                  <small>CEO at Borcelle</small>
                </div>
              </div>
            </div>
          </div>
          </div>
   
   
          <!-- Card 2 -->
          <div class="col-md-3 pt-3">
            <div class="testimonial-card px-3">
              <div class="card shadow-sm  p-5">
              <i class="bi bi-quote fs-1 text-dark mb-3"></i>
              <h5>Super cool!</h5>
              <p>Lorem ipsum praesent ac massa at ligula reet est iaculis. Vivamus est mist aliquet elit ac nisl.</p>
              <div class="stars mb-3 text-warning"">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="d-flex gap-3">
                <img src="img/mentor1.jpg" alt="Matt Zhang" class="object-fit-cover rounded-circle mt-1" width="70px" height="70px" alt="Nichole">
                <div>
                  <p>Matt Zhang</p>
                  <small>CEO at Borcelle</small>
                </div>
              </div>
            </div>
          </div>
          </div>
    </section>

    <section>
    <div class="container mb-5 ">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Checkout form</h2>
      </div>
      <div class="row justify-content-center align-content-center shadow rounded-4 py-5">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Level Class</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>Basic</option>
                  <option>Standart</option>
                  <option>Advance</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Class</label>
                <select id="disabledSelect" class="form-select">
                  <option>Class Reading</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <div class="col-md-4 order-md-2 mb-4">
              <form class="card p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                  </div>
                </div>
              </form>
            </div>
            <button class="w-100 btn-class-info btn bg-dark1 form-control py-3 border-primary text-white  fs-5" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    </section>

{%endblock content%}