.parallax {
    height: 65vh;
    background-attachment: fixed;
    background-position: 70% 25%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
    position: relative; /* Dibutuhkan untuk penggunaan z-index */
}

.parallax-item {
    position: absolute; /* Untuk mengatur posisi bebas dalam parallax */
    top: 37%;
    left: 30%;
    transform: translateY(-50%); /* Memastikan elemen tetap di tengah vertikal */
    z-index: 1; /* Menyebabkan teks ini berada di belakang next-section */
}

.parallax-item h1 {
    color: white; /* Warna teks */
    font-size: 4em; /* Ukuran font */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 10px; /* Memberikan padding agar teks tidak terlalu menempel */
    z-index: inherit; /* Menggunakan z-index dari parent (parallax-item) */
}
.card {
  box-shadow: 5px 9px 18px -2px rgba(156,156,156,0.64);
  transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(52, 78, 170, 0.2);
}
        
@media only screen and (max-width: 1200px) {
    .parallax {
        height: 50vh;  
        background-position: 70% 20%;
        background-size: contain;
    }
}

@media only screen and (max-width: 600px) {
    .parallax {
        height: 40vh; /* Atur ulang ketinggian untuk layar kecil */
        background-attachment: fixed;                
        background-position: 70% 22%;
    }
    .nav-text {
        display: none;
    }
}