{%extends 'base.html'%}
{%load static%}

{%block title%} {{title}} {%endblock title%}

{%block content%}
<section class="d-flex d-flex align-items-center h-100" style="margin-top: 100px;">
    <form class="mx-auto my-5 p-5 bg-light1 d-flex flex-column rounded-4" style="width: 400px; box-shadow: 20px 20px 50px grey;" id="signupForm">
        
        <img src="img/L1.png" alt="Logo Helu" class="w-50 mx-auto">
        <h4 class="mx-auto py-2">Sign Up to HELU</h4>
        {% csrf_token %} {{ user_form.as_p }} 
        <button type="submit" class="btn bg-medium-dark color-light btn-hover">Sign Up</button>
        <p class="mx-auto my-2"> Have an account? <a href="login.html" class="text-decoration-none color-medium-dark">Login here</a></p>
    </form>
    
</section>
{%endblock content%}
{%block js%} {%endblock js%}