{% extends 'topicBase.html' %}
{%load static%}

{%block content%}
<section class="container my-5">
    <div class=" bg-light1 p-5 color-dark rounded-5">
        <h2 class="text-center">{{ topic.title }}</h2>
        <p>{{ topic.description }}</p>
        <h3>Topic</h3>
        <ul>
            {% for post in topic.posts.all %}
                <li>{{ post.content }} ({{ post.created_by }}, {{ post.created_at }})</li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <a class="btn btn-hover bg-medium-dark" href="{% url 'topic_list' %}">Beranda Forum</a>
        {% endif %}
    </div>
</section>
{%endblock content%}